<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/common.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

  <style>
    h1{
      text-align: center;
      color: rgb(58, 148, 164);
      font-size: 48px;
      font-weight: 600;
    }
    .btn{
      padding: 10px;
      background-color: rgb(45, 143, 45);
      color: white;
      font-size: 20px;
      font-weight: 600;
      border-radius: 10px;
      margin-right: 20px;
    }  
    .container{
      width: 80%;
      margin: 50px auto;
    } 
  </style>
</head>
<body>
  <%- include('partials/header.ejs') %>.
  <div class="container">
    <h1>Login Successful</h1>
    <h2>User Info</h2>
    <h3><%= user.firstName %></h3>
    <h3><%= user.lastName %></h3>
    <h3><%= user.email %></h3>
    <h3><%= user.city %></h3>
    <h3><%- user.fullName() %></h3>
  </div>

  <%- include('partials/footer') -%>

</body>
</html> 
