<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/addArticle.css">
  <link rel="stylesheet" href="/stylesheets/common.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
  <%- include('partials/header') -%>
  <div class="container">
    <form action="/articles/<%=article.slug%>/edit" method="POST">
      <h1>Update Article Details</h1>
      <input type="text" name="title" placeholder="Enter Title of Article" value="<%=article.title%>">
      <textarea name="description" id="" cols="30" rows="5" placeholder="Enter Description of Article"><%=article.description%></textarea>
      <input type="submit" value="Update">
    </form>
    <div class="">
      <a class="btn-add" href="/articles/">
        back
      </a>

    </div>
  </div>
  <%- include('partials/footer') -%>

</body>
</html>   